body {
  text-align: center;
  font-size: large;
  font-family: 'Courier New', Courier, monospace;
  background-color: #F6E1C3;
}

#title{
  background-color: #fff0ba;
  padding: 20px;
}

.des-food {
  font-size: 25px;
}

.item {
  list-style-type: none;
  font-size: 25px;
  padding: 20px;
  background-color: #fff0ba;
  margin-right: 40px;
} 
