.center  {
  text-align: center;
  font-size: large;
  font-family: 'Courier New', Courier, monospace;
  background-color: #F6E1C3;
}

#title{
  background-color: #fff0ba;
  padding: 20px;
}

.p-big {
  font-size: 25px;
}

.margin {
  list-style-type: none;
  font-size: 25px;
  padding: 20px;
  background-color: #fff0ba;
  margin-left: px;
}

